<div class="about">
  <div class="about_text">
    <p>
      <span>今日何食べる？</span></br>
      お腹すいた</br>
      けど何を食べるか決まらない。</br>
      そんな時、</br>
      隣の家は何食べてるんだろう？って</br>
      ちょっと覗けるサイトです。</br>
    </p>
  </div>
</div>