/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font-awesome-sprockets';
@import 'font-awesome';

*{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  font-family: "M PLUS 1p", sans-serif;
}

header {
  height: 70px;
  background-color: #EEEEEE;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


// メニュー表示のレスポンシブ対応用　ここから
.menu__open, .menu__close {
  display: none;
}

input[type="checkbox"] {
  position: absolute;
  left: -100px;
}
// メニュー表示のレスポンシブ対応用　ここまで

.header__nav ul {
  display: inline-block;
  line-height: 70px;
}
.header__nav li {
  display: inline;
  text-decoration: none;
  color: #EF9900;
  margin: 0 10px 0;
}

img.header__logo {
  height: 80%;
  margin-top: 5px;
  margin-left: 100px;
}

.notice {
  display: inline-block;
}

body {
  position: relative;
  padding-bottom: 70px;
  box-sizing: border-box;
  min-height: 100vh;
}

.body {
  margin: 30px 30px 55px;
}

// ログイン/新規登録画面レイアウト
.login {
  background-image: image-url("login_photo.jpeg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 85vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.about {
  width: 100%;
  margin: 100px auto;
  padding: 0 50px;
  text-align: left;
  line-height: 2.5;
  color: #EEEEEE;
}
.about span {
  font-weight: bold;
  font-size: 30px;
}

.user__box {
  width: 100%;
  margin: 100px 50px;
  padding: 0 50px;
  text-align: left;
  line-height: 2.5;
}

.btn-1 {
  position: relative;
  border: 1px solid #FFF;
  padding: 8px 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #333;
  transition: all .2s linear;
}

.btn-1:hover {
  background: #333333;
  color: #FFFFFF;
}

.btn-2 {
  position: relative;
  border: 1px solid #FFF;
  padding: 5px 15px;
  display: inline-block;
  text-align: center;
  outline: none;
  background-color: #EEEEEE;
  transition: all .2s linear;
  text-decoration: none;
  color: #EF9900;
}

.btn-2:hover {
  background: #EF9900;
  text-decoration: none;
  color: #EEEEEE;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 30px;
  font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN";
}

.top__tagname {
  text-align: center;
}

.top__tag p {
  display: inline;
}

.top__searchwindow {
  margin: 10px 30px;
}

.top__search {
  margin-bottom: 20px;
}

.content {
  display: grid;
  justify-items: center;
  align-items:center;
  grid-template-rows: 400px 100px;
  grid-template-columns: 15% 35% 35% 15%;
}

.content__image {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  text-align: right;
}

.content__body {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  line-height: 2.5;
}

.content__url {
  word-break: break-all;
}

.content__btn {
  grid-row: 2 / 3;
  grid-column: 3/ 4;
}

.userpage__name {
  margin: 10px 30px;
}

.index {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

 .index__item {
   text-align: center;
 }

a {
  text-decoration: none;
  color: #EF9900;
}

.index__comment {
  background-image: image-url("not_index.png");
  background-repeat: no-repeat;
  min-height: 60vh;
  background-position: center;
}

.newpost__all, .useredit__all, .postedit__all,
.admintop__all, .categories__all, .tastes__all {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.newpost__form, .useredit__form, .postedit__form,
.admintop__form, .categories__form, .tastes__form {
  display: flex;
  justify-content: center;
  text-align: left;
  line-height: 2.5;
}
.admintop__tag, .categories__item, .tastes__item {
  margin: 10px auto;
  text-align: center;
  line-height: 2.5;
}

footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 .footer__img {
  bottom: 70px;
  width: 100%;
  text-align: center;
 }
}

.footer__login, .footer__global {
  width: 100%;
  height: 70px;
  background-color: #EF9900;
  color: #EEEEEE;
}

footer p {
  text-align: center;
  line-height: 70px;
}

@media screen and (max-width:768px) {

  header {
    height: 50px;
    width: 100%;
    display: block;
  }
  .login {
    min-height: 90vh;
    background-image: image-url("login_photo2.jpeg");
  }

  img.header__logo {
    display: block;
    margin: 0 auto;
  }

  .header__nav ul {
    display: block;
    font-size: 13px;
    line-height: 50px;
    text-align: center;
    margin: 5px 0;
  }

  .header__nav li {
    margin: 0 2px;
  }

  .about {
    color: #000000;
    margin: 100px auto;
  }

  .user__box {
    margin: 100px 0 0;
  }

  .content {
    display: block;
    text-align: center;
  }

  .content__image {
    text-align: center;
  }

  h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 30px;
  }

  th, td {
    display: list-item;
    list-style: none;
    font-size: 10px;
    border-bottom: none;
  }
}

@media screen and (max-width:425px) {

  .btn1 {
    z-index: 0;
  }

  .btn2 {
    z-index: 0;
  }

  header {
    height: 50px;
    width: 100%;
    display: block;
  }

  .menu__open, .menu__close {
    display: block;
  }

  .menu__open {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #7b7878;
    font-weight: bold;
    font-family: fantasy;
  }

  .header__nav ul {
    z-index: 1;
    position: absolute;
    left: -500px;
    height: 70%;
    margin: 0;
    padding: 0 20px;
    font-size: 20px;
    line-height: 100px;
    transition: all 0.2s;
    background-color: #FFFFFF;
  }

  .header__nav li {
    display: block;
  }

  input[type="checkbox"]:checked ~ .header__nav ul {
    left: 0;
  }

  input[type="checkbox"]:checked ~ .menu__back {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background: #000000;
  }

  .header__nav a {
    margin: 0 2px;
  }

  .about {
    color: #000000;
    margin: 10px auto;
  }

  .user__box {
    margin: 0;
  }

  h3 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin: 10px 30px;
  }

  .top__search {
    text-align: center;
  }
}
