/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'font-awesome-sprockets';
@import 'font-awesome';

*{
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  font-family: "M PLUS 1p";
}

header {
  width: 100%;
  height: 70px;
  background-color: #FFE162;
}

img.header_logo {
  height: 80%;
  margin: 5px 20px;
}

.global_nav {
  float: right;
  line-height: 70px;
}

.global_nav a {
  text-decoration: none;
  color: #FF6464;
  margin: 0 10px 0;
}

body {
  position: relative;
  background-color: #EEEEEE;
  padding-bottom: 70px;
  box-sizing: border-box;
  min-height: 100vh;
}

// ログイン画面レイアウト
.login {
  background-image: image-url("login_photo.jpeg");
  background-size: cover;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-position: right -100px;
  min-height: 100vh;
}
.about {
  width: 45%;
  margin: 100px auto;
  padding: 0 50px;
  text-align: left;
  line-height: 2.5;
  color: #EEEEEE;
}
.about span {
  font-weight: bold;
  font-size: 30px;
}

.user_box {
  width: 45%;
  height: 400px;
  margin: 100px auto;
  text-align: left;
  line-height: 2.5;
}

.btn-next {
  position: relative;
  border: 1px solid #FFF;
  padding: 8px 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #333;
  transition: all .2s linear;
}

.btn-next:hover {
  background: #333;
  color: #fff;
}

// .btn-next::before {
//   content:"";
//   position: absolute;
//   top: 50px;
//   right: -26px;
//   width: 40px;
//   height: 1px;
//   background: #333;
//   transition: all .2s linear;
// }

// .btn-next::after {
//   content:"";
//   position: absolute;
//   top: 20px;
//   right: -21px;
//   width: 1px;
//   height: 12px;
//   background: #333;
//   transform: skewX(45deg);
//   transition: all .2s linear;
// }

// .btn-next:hover::before {
//   right: -30px;
// }

// .btn-next:hober::after {
//   right: -25px;
// }

.index {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.index__item {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

// img.attachment.post.image {
//   border-radius: 10px 10px 10px 10px;
// }

// .flex_box {
//   display: flex;
//   flex-wrap: wrap;
// }

// .flex_post_item {
//   margin: 10px 2px;
// }

// .post_item_name {
//   display: inline-block;
//   color: #91C483;
// }

// .post_item_name span {
//   font-weight: bold;
// }

.newpost__page_all {
  width: 100%;
}

.newpost__page_form {
  display: flex;
  justify-content: center;
  text-align: left;
  line-height: 2.5;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #FFE163;
  color: #FF6464;
}

footer p{
  text-align: center;
  line-height: 70px;
}

// #91C483 green
// #FF6464 red
// #FFE163 yellow
// #EEEEEE gray