<footer>
  <% if current_page?(new_user_registration_path) || current_page?(new_user_session_path) %>
    <div class="footer__login">
      <p>nanitaberu? since2022</p>
    </div>
  <% else %>
    <!--フッターーロゴ-->
    <%= image_tag 'footer.png', class: "footer__img" %>
    <div class="footer__global">
      <p>nanitaberu? since2022</p>
    </div>
  <% end %>
</footer>
